html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background-size: cover;
  background-position: 0px, -70px;
  text-align: center;
  position: relative;
}

header > h1 {
  color: #000;
  font-size: 48px;
  text-spacing: 3em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.social-icon-container {
  top: 30px;
  position: absolute;
  right: 20px;
}

.social-icon-container > a {
  display: inline-block;
}
.social-icon-container img {
  width: 64px;
}

#branding-text > h2 {
  font-size: 24px;
}


.navigation {
  clear: both;
  display: block;
  background-color: #000;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.navigation section {
  float: left;
  width: 25%;
  background: yellow;
  text-align: center;
}

h3 {
  color: #FFFFFD;
}